@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Création de variable contenant des Custom Properties */
:root {
    --black: #000000;
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey: #F2F2F2;
    --white:#FFFFFF;
}

body {
    font-family: 'Raleway', sans-serif;
    color: var(--black);    
    min-width: 375px;
    max-width: 428px;
    margin: 0 auto;
}

/* HEADER */

body header {
    width: 100%;
}
#topHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#topHeader img {
    max-width: 97px;
    padding: 20px;
} 
#topHeader span {
    display: flex;
    align-self:center;
    padding: 20px;
}
#topHeader span a {
    text-decoration: none;
    color: var(--blue);
} 
header nav {
    width: 100%;
    position: relative;
} 
header nav ul li:nth-child(1) {
    width: 50%;
    position: absolute;
    left: 0;
    list-style-type: none;
    text-align: center;
}
header nav ul li:nth-child(2) {
    width: 50%;
    position: absolute;
    right: 0;
    list-style-type: none;
    text-align: center;
}
header nav ul li:hover {
    border-bottom: 2px solid var(--blue);
    font-weight: bold;
    color: var(--blue);
} 
header nav ul li a {
    text-decoration: none;
    color: var(--black);
}
header nav ul li:first-child {
    border-bottom: 3px solid var(--blue);
    color: var(--blue);
    font-weight: bold;
} 
header nav ul li:first-child a {
    color: var(--blue);
    font-weight: bold;
}
header h1 {
    font-size: 1.3em;
    padding: 50px 10px 0 20px;
    font-weight: bold;
}
header p {
    padding: 0 20px;
}
#search {
    padding: 10px 20px 0 20px;
}
#icoSearch {
    padding: 20px 10px 0 10px;   
    height: 40px;
    width: 40px;
    font-size: 1.2em;
    border-radius: 15px 0 0 15px;
    background-color: var(--grey);
    text-align: center;
    float: left;
}
#ztext input { 
    border:1px solid var(--white);
    font-weight:bold;
    font-size: 1em;
    height: 60px;
    width: 180px;
    padding-left: 20px;
    float: left;
}
#btnSearch button{
    background-color: var(--blue);
    height: 60px;
    width: 60px;
    color: var(--white);
    border-radius: 15px;
    font-size: 1em;
    font-weight: bold;
}
#btText {
    display: none;
}
#filters {
    clear: left;
    padding: 20px;
}
#filters p {  
    font-size: 1em;  
    font-weight: bold;
    padding: 0;
}
#filters ul {
    padding: 10px 0 0 0;
    list-style-type: none;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: flex-start;
}
#filters ul li {
    padding: 10px 10px 10px 0;
    border: 2px solid var(--light-blue); 
    border-radius: 20px;
    margin: 0 5px 10px 0;
}
#filters ul li span:first-child {
    border-radius: 50%;
    background-color: var(--light-blue);
    font-size: 1em;
    color: var(--blue);
    padding: 10px 15px 10px 15px;
    margin: 0;
}
#filters  ul li span {
    font-size: 1em;
    padding: 10px;
} 
#filters ul li a {
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: var(--black);
}
#filters ul li a:hover {
    text-decoration: none;
    color: var(--blue);
    font-weight: bold;
}
#info {
    font-size: 0.9em;
}
#info span {
    width: 40px;
    border-radius: 50%;
    background-color: var(--light-blue);
    color: var(--blue);
    padding: 5px 1px;
    float: left;
    text-align: center;
    margin-right: 5px;
}

/* MAIN */
.amount {
    font-size: 0.8em;
    color: var(--black);    
    padding: 5px 0 5px 20px;
}
.starsOn {
    color: var(--blue);
}
.starsOff {
    color: var(--light-blue);
}
.legend {
    display: block;
    font-size: 0.9em;
    font-weight: bold;
}
#rightCol {    
    background-color: var(--grey);
}
#rightCol h2 {    
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#rightCol ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
#rightCol ul li {
    margin: 0 25px 20px 0;
    background-color: var(--white);
    border-radius: 20px;
}
#rightCol ul li img {
    padding: 5px;
    margin-right: 20px;
    border-radius: 20px  0 0 20px;
    width: 40%;
    height: 135px;
    object-fit: cover;
    float: left;
}
#rightCol ul li a, #leftCol ul li a {
    text-decoration: none;
}
#rightCol ul li a .accomName {
    font-size: 0.9em;
    font-weight: bold;
    color: var(--black);
    display: block;
    padding-top: 15px;
}
#rightCol ul li a .amount {
    font-size: 0.8em;
    color: var(--black);  
    display: block;
    padding-top: 5px;
}
#rightCol ul li a .stars {
    font-size: 0.8em;
    color: var(--black); 
    display: block;
    padding-top: 45px;  
}
#leftCol {
    background-color: var(--grey);
}
#leftCol h2 {    
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 20px;
}
#leftCol ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 20px;
}
#leftCol ul li {
    background-color: var(--white);
    border-radius: 20px;
    margin: 0 20px 20px 0;
    padding-bottom: 10px;
}
#leftCol ul li img {
    padding: 5px;
    border-radius: 20px 20px 0 0;
    width: 97%;
    height: 115px;
    object-fit: cover;
    margin: 0;
}
#leftCol ul li a .accomName {
    font-size: 0.9em;
    font-weight: bold;
    padding-left:20px;
    color: var(--black);
    display: block;
    padding-top: 5px;
}
#leftCol ul li a .amount {
    font-size: 0.8em;
    color: var(--black);    
    display: block;
    padding-top: 5px;
}
#leftCol ul li a .stars {
    font-size: 0.8em;
    color: var(--black);  
    display: block;
    padding: 5px 0 0 20px;
}
#leftCol p {
    margin-left: 20px;
}
#midCol h2 {    
    font-size: 1.1em;
    font-weight: bold;
    margin: 50px 0 10px 20px;
}
#blocLeft, #blocRight {    
    width: 100%;
}
#blocLeft > #large, #blocRight > #large {
    margin: 20px;
    border-radius: 20px;
    background-color: var(--white);
}
#blocLeft #large a, #blocRight #large a {
    text-decoration: none;
}
#blocLeft > #large img, #blocRight > #large img {
    border-radius: 20px 20px 0 0;
    display: block;
    width: 100%;
    height: 135px;
    object-fit: cover;
    padding-bottom: 10px;
}
#blocLeft > #large span.legend, #blocRight > #large span.legend {    
    padding: 0  0 10px 40px;
    border-radius: 0 0 20px 20px;
}
#blocLeft > #small ul, #blocRight > #small ul {
    padding: 0 20px 0 20px;
    list-style-type: none;
}
#blocLeft > #small ul li, #blocRight > #small ul li {
    height: auto;    
    background-color: var(--white);
    border-radius: 20px;
    margin-bottom: 20px;
}
#blocLeft > #small ul li a, #blocRight > #small ul li a {
   text-decoration: none;
}
#blocLeft > #small ul li img, #blocRight > #small ul li img {
    border-radius: 20px 20px 0 0;    
    display: block;
    width: 100%;
    height: 135px;
    object-fit: cover;
    padding-bottom: 10px;
}
#blocLeft > #small ul li span.legend, #blocRight > #small ul li span.legend {     
    padding: 0  0 10px 40px;
}

/* FILTER */

#mainFooter {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 0.9em;
    padding: 20px;
    margin-bottom: 20px;
}
#mainFooter section {
    width: 100%;
}
#mainFooter section h3  {
    font-weight: bold;
}
#mainFooter section span {
    display: block;
    padding: 5px 0 5px 0;
}
#mainFooter section span a {
    text-decoration: none;
    color: var(--black);
}

/* Responsive smartphone */

/* TABLETTE */

@media screen and (min-width: 768px) {
    body { 
        min-width: 768px;
        max-width: 1024px;
        margin: 0 auto;
    }    
    header nav {  
        width: 30%;  
        float: right;
        display: flex;
        flex-direction: flex-end;
        margin: -70px 100px 0 0;
    }    
    header nav ul li:hover { border:none; }
    header nav ul li a { text-decoration: none; }  
    header nav ul li a:hover {
        color: var(--blue);
        font-weight: bold;
    }   
    header nav ul li:first-child {
        border-bottom: 3px solid var(--white);
        color: var(--blue);
        font-weight: bold;
    } 
    header nav ul li:first-child a {
        color: var(--blue);
        font-weight: bold;
    }        
    header h1 {
        padding: 0 20px;
        margin: 0;
        font-weight: bold;
    }
    header p {
        padding: 5px 20px;
        margin: 0;
    }
    #search { padding: 10px 20px 0 20px; }
    #icoSearch {
        padding: 20px 10px 0 10px;   
        height: 30px;
        width: 30px;
        font-size: 1.1em;
        border-radius: 15px 0 0 15px;
    }
    #ztext input { 
        font-size: 0.9em;
        height: 50px;
        width: 200px;
    }
    #btnSearch button{
        height: 55px;
        width: 120px;
        border-radius: 0 15px 15px 0;
        font-size: 0.9em;
    }
    #btText { display: block; }
    #btIco { display: none; }
    #filters p {   
        margin-top: 5px;
        width: 10%;
        float: left;
    }
    #filters ul {
        width: 80%;
        padding: 0 0 10px 0;
        float: left;
        margin: -5px 80px 0 0;
    }
    #info span { margin-top: -5px; }
    #pcontent { margin: 0 20px;}
    #leftCol { width: 100%; }    
    #leftCol h2 { margin: 20px 0 10px 30px; }
    #leftCol ul { padding-left: 20px; }
    #leftCol ul li {
        margin: 0 30px 20px 0;
        width: 30%;
    }
    #rightCol { 
        width: 100%;
        margin-top: 20px;
    }    
    #rightCol h2 {   
        margin-left: 30px;
        width: 30%; 
    }
    #rightCol ul {
        display: flex;
        flex-direction: row;
        padding-left: 20px;
    }
    #rightCol ul li { 
        margin: 0 30px 20px 0; 
        padding-right: 5px;
    }    
    #midCol { width:100%; }
    #blocLeft {
       width: 50%;
       float: left;
    }
    #blocRight {
        width: 50%;
        float: left;
    }
    #mainFooter {
        display: flex;
        flex-direction: row;
    }
}

/* DESKTOP */

@media screen and (min-width: 1024px) {
    body { 
        min-width: 1024px;
        max-width: 1280px;
        margin: 0 auto;
    } 
    #search { padding: 10px 20px 0 20px; }
    #icoSearch { padding: 10px 10px 0 10px; }
    #ztext input { height: 40px; }
    #btnSearch button{ height: 45px; } 
    #info { display:inline-block; }
    #pcontent {
        display: flex;
        flex-direction: row-reverse;
    }    
    #leftCol { 
        width: 70%;
        margin:0;
        padding: 0 10px;
    }
    #leftCol ul { width: 100%; }
    #leftCol ul li { 
        margin: 0 20px 20px 0;
        padding-right: 0;
     }     
    #rightCol { 
        margin: 0 0 0 30px;
        width: 30%;  
    }
    #rightCol h2 { width: 85%; }
    #rightCol ul {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }
    #rightCol ul li {
        margin: 0 20px 20px 0;
        width: 95%;
    }
    #rightCol ul li img {
        width: 40%;
        float: left;
    }    
    #globalAct {
        display: flex;
        flex-direction: row;
        padding-left: 20px;
    }
    #blocLeft {
       width: 50%;
       display: flex;
       flex-direction: row;
    }
    #blocRight {
        width: 50%;  
        margin-right: 0;      
       display: flex;
       flex-direction: row;
    }
    #blocLeft #large { 
        width: 45%; 
        margin: 0 20px 0 0; 
        height: max-content;
    } 
    #blocRight #large { 
        width: 45%; 
        margin: 0 20px 0 20px;  
        height: max-content; 
    }    
    #blocLeft #small { 
        width: 55%; 
        margin: 0 ;
        position: relative;
    }
    #blocRight #small {        
        width: 55%; 
        margin-right: 0;
    }
    #blocLeft #large img, #blocRight #large img {        
        display: block;
        width: 100%;
        height: 320px;
    }
    #blocLeft #small ul, #blocRight #small ul { 
        margin: 0;
    }
    #blocLeft #small ul li:nth-child(1) img {
        height: 140px;
    }
    #blocLeft #small ul li:nth-child(1) span.legend {
        margin-bottom: 36px;
    }
    #blocRight #small ul li:nth-child(1) span.legend {
        margin-bottom: 59px;
    }

    #blocLeft #small ul li:nth-child(2) img {
        height: 105px;
    }
    #blocRight #small ul li:nth-child(1) img, #blocRight #small ul li:nth-child(2) img {
        height: 115px;
        padding-bottom: 0;
    }
    #blocRight #small ul li:nth-child(1) span.legend {
        padding-top: 5px;
    }
    #mainFooter {
        display: flex;
        flex-direction: row;
    }
}