/* Import Police Raleway Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Création de variables contenant des Custom Properties */
:root {
    --black: #000000;
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey: #f2f2f2;
    --shade-grey: rgba(242, 242, 242, 0.8);
    --white:#FFFFFF;    
    box-sizing: border-box;
}

/* tous les éléments hérite de ces propriétés */
* { box-sizing: inherit; } 

body {   
    font-family: 'Raleway', sans-serif;
    color: var(--black);   
    min-width: 1024px; 
    max-width: 1440px;
    margin: 0 auto;
}
img {
    max-width: 100%;
    height: autp;
}

/* Logo + Login link */
#topHeader {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#topHeader img {
    max-width: 100%;
    height: auto;
    padding: 20px;
} 
#topHeader span {
    display: flex;
    align-self:center;
    padding: 20px;
}
#topHeader span a {
    text-decoration: none;
    color: var(--blue);
    font-weight: bold;
} 

/* Menu */
nav ul {  
    width: 15%;  
    float: right;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 200px;
    top: 36px;   
} 
nav ul li a { text-decoration: none; } 
nav ul li a:hover {
    color: var(--blue);
    font-weight: bold;
}
nav ul li:first-child a {
    color: var(--blue);
    font-weight: bold;
}

/* Main title */
header h1 {
    font-size: 1.3rem;
    padding: 20px 10px 0 20px;
    font-weight: bold;
}
header p {
    padding: 10px 20px;
}

/* Search */
#search { padding: 10px 20px 0 20px; }
#icoSearch {
    padding: 15px 20px 0 20px;  
    height: 50px;
    width: 50px;
    font-size: 1.2em;
    border-radius: 15px 0 0 15px;
    background-color: var(--grey);
    float: left;
}
#ztext input { 
    font-weight:bold;
    font-size: 1em;
    height: 50px;
    width: 215px;
    border: 1px solid var(--shade-grey);
    padding-left: 20px;
    float: left;
}
#btnSearch button{    
    height: 50px;
    width: 120px;
    border-radius: 0 20px 20px 0;
    background-color: var(--blue);
    color: var(--white);
    font-size: 1em;
    font-weight: bold;
    border: none;
}
#btText { display: block; }
#btIco { display: none; }

/* Filters */
#filters { margin-top: 30px; }
#filters p {  
    font-size: 1em;  
    font-weight: bold;
    padding: 20px;
    float: left;
    width: 8%;
}
#filters ul {
    list-style-type: none;
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    padding: 10px;
}
#filters ul li {
    padding: 10px 10px 10px 0;
    border: 2px solid var(--light-blue); 
    border-radius: 20px;
    margin: 0 25px 10px 0;
}
#filters  ul li span {
    font-size: 1em;
    padding: 10px;
} 
#filters ul li span:first-child {
    border-radius: 50%;
    background-color: var(--light-blue);
    font-size: 1em;
    color: var(--blue);
    padding: 10px 15px 10px 15px;
    margin: 0;
}
#filters ul li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--black);
}
#filters ul li a:hover {
    color: var(--blue);
    font-weight: bold;
}

/* Info text */
#info {
    margin-top: 0;
    padding: 0 0 20px 20px;
}
#info span {
    width: 25px;
    border-radius: 50%;
    color: var(--blue);
    padding: 10px 15px 10px 15px;
    border: 2px solid var(--grey);
    text-align: center;
    margin-right: 5px;
}

#mainContent { height: max-content; }
.amount {
    font-size: 0.8em;
    color: var(--black);    
    padding: 5px 0 5px 20px;
}
.starsOn {
    color: var(--blue);
}
.starsOff {
    color: var(--light-blue);
}

/* Main > LeftCol */
#leftCol {
    float: left;
    max-width: 65%;
    margin: 0 20px 50px 20px;
    padding-left: 35px;
    border-radius: 20px;
    background-color: var(--grey);
}
#leftCol h2 {    
    font-size: 1.1em;
    font-weight: bold;    
    margin: 15px 0;
}
#leftCol ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#leftCol ul li {
    background-color: var(--white);
    border-radius: 20px;
    padding-bottom: 10px;
    width: 30%;
    margin: 0 25px 30px 0
}
#leftCol ul li img {
    padding: 5px;
    border-radius: 20px 20px 0 0;
    width:100%;
    height: 115px;
    object-fit: cover;
    margin: 0;
}
#leftCol ul li a, #rightCol ul li a { text-decoration: none; }
#leftCol ul li a .accomName {
    font-size: 1rem;
    font-weight: bold;
    padding-left:20px;
    color: var(--black);
    display: block;
    padding-top: 5px;
}
#leftCol ul li a .amount {
    font-size: 1rem;
    color: var(--black);    
    display: block;
    padding: 5px 0 0 20px;
}
#leftCol ul li a .stars {
    font-size: 0.9rem;
    color: var(--black);  
    display: block;
    padding: 5px 0 0 20px;
}
#leftCol p { 
    font-size: 1rem;
    font-weight: bold;
    padding: 0 0 20px 20px; 
}
#leftCol p a { text-decoration: none;}

/* Aside > RightCol */
#rightCol {    
    float: left;
    width: 28%;
    margin-left: 35px;
    padding: 0 35px;    
    border-radius: 20px;
    background-color: var(--grey);
}
#rightCol h2 {    
    font-size: 1.1rem;
    margin: 20px 0;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#rightCol ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
#rightCol ul li {
    width: 100%;
    margin: 0 25px 20px 0;
    background-color: var(--white);
    border-radius: 20px;
}
#rightCol ul li img {
    padding: 5px;
    margin-right: 10px;
    border-radius: 20px  0 0 20px;
    width: 45%;
    height: 135px;
    object-fit: cover;
    float: left;
}
#rightCol ul li a .accomName {
    font-size: 1rem;
    font-weight: bold;
    color: var(--black);
    display: block;
    padding-top: 15px;
}
#rightCol ul li a .amount {
    font-size: 1rem;
    color: var(--black);  
    display: block;
    padding-top: 5px;
}
#rightCol ul li a .stars {
    font-size: 0.8em;
    color: var(--black); 
    display: block;
    padding-top: 35px;  
}

/*  Section > Activities */
#blocAct { clear: left; }
#blocAct h2 {     
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0 20px;
    padding: 20px 0;
}
#contAct {
    clear: left; 
    width: 100%;
    padding: 0 20px;
    columns: 2;
    column-gap: 42px;
}
#blocLeft, #blocRight { width: 100%; }
#blocLeft ul, #blocRight ul {
    columns: 2;
    column-gap: 45px;
}
#blocLeft ul li a, #blocRight ul li a {  
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}
#blocLeft ul li:nth-child(1) img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 379px;
    object-fit: cover;
    display: block;
}
#blocLeft ul li:nth-child(2) img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 182px;
    object-fit: cover;
    display: block;
}
#blocLeft ul li:nth-child(3) img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 110px;
    object-fit: cover;
    margin-top: 42px;
    display: block;
}
#blocLeft ul li span, #blocRight ul li span {
    border-radius: 0 0 20px 20px;
    display: block;
    width: 100%;
    padding: 15px 0 15px 20px;
    background-color: var(--white);
}
#blocRight ul li:nth-child(1) img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 379px;
    object-fit: cover;
    display: block;
}
#blocRight ul li:nth-child(2) img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 140px;
    object-fit: cover;
    display: block;
}
#blocRight ul li:nth-child(3) img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 152px;
    object-fit: cover;
    margin-top: 42px;
    display: block;
}

/* Footer */
#mainFooter {
    margin: 60px 0 30px 0;
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: var(--grey);
}
#mainFooter section { width: 100%; }
#mainFooter section h3  {
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 10px;
}
#mainFooter section span {
    display: block;
    padding: 5px 0 5px 0;
}
#mainFooter section span a {
    text-decoration: none;
    color: var(--black); 
}

/* DESKTOP SPE  */
@media screen and (max-width: 1440px) {
    #topHeader {        
        position: relative;
    }
}

/* TABLETTE  */
@media screen and (min-width: 728px) and (max-width: 1024px) {
  
    nav ul {  
        width: 25%;  
        right: 150px;   
    } 

    #topContent {
        display: flex;
        flex-direction: column-reverse;
    }

        #leftCol { 
            max-width: 95%; 
            margin-top: 30px;
        }
    #leftCol ul li { margin: 0 25px 25px 0; }    
    #rightCol { 
        margin: 10px 0 20px 20px;
        width: 95%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;;
    }
    #rightCol ul {
        margin: 0;
        display: flex;
        flex-direction: row;    
    }
    #rightCol ul li {
        margin-right: 20px;
        padding-right: 10px;
    }
    #rightCol ul li:nth-child(3) {
        margin-right: 0;
        padding-right: 10px;
    }
    #rightCol ul li img {
        width: 40%;
    }

    #contAct {
        column-gap: 30px;
    }
    #blocLeft ul, #blocRight ul {
        column-gap: 30px;
    }    
    #blocRight ul li:nth-child(1) img { height: 364px; }   
    #blocRight ul li:nth-child(3) img { height: 150px; }
    
}

@media screen and (max-width:428px){
    body {
        min-width: 375px;
        max-width: 428px;
    }
    nav ul {
        position: static;
        margin: 0;
        width: 100%; 
    } 
    nav ul li {
        width: 50%;
        text-align: center;
        padding: 10px 0;
    }
    nav ul li:hover {
        border-bottom: 2px solid var(--blue);
        font-weight: bold;
        color: var(--blue);
    } 
    nav ul li:first-child {
        border-bottom: 3px solid var(--blue);
        color: var(--blue);
        font-weight: bold;
    }  
    nav ul li:first-child a {
        color: var(--blue);
        font-weight: bold;
    }
    header h1 {
        font-size: 1.3em;
        margin-top: 10px;
        padding: 50px 10px 0 20px;
        font-weight: bold;
    } 
    #ztext input { width: 260px;}
    #btText { display: none; }
    #btIco { display: block; }
    #btnSearch button{    
        height: 50px;
        width: 50px;
        border-radius: 10px;
    }
    #filters ul {
        clear: left;
        margin: 0 20px;
        padding: 10px 0 0 0;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        align-items: flex-start;
    } 
    #filters ul li { margin: 0 20px 30px 0; }    
    #info span {
        float: left;
        margin-right: 20px;
    }    
    #topContent {
        display: flex;
        flex-direction: column-reverse;
        width:100%;
    }
    #rightCol, #leftCol { 
        margin: 0 20px 20px 20px;
        padding: 0 10px;
        width: 92%;
        max-width: 92%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }    
    #rightCol ul, #leftCol ul {
        margin: 0;  
    }
    #rightCol ul li, #leftCol ul li {
        width: 99%;
        margin: 0 0 20px 0;
        padding: 0 10px 0 0;
    }
    #rightCol ul li img { width: 50%;}
    #leftCol ul li {
        width: 99%;
        margin: 0 0 20px 0;
        padding: 0 0 10px 0;
    }    
    #contAct {
        columns: 1;
        column-gap: 0;;
    }    
    #blocLeft ul, #blocRight ul {
        columns: 1;
        column-gap: 0;
    }    
    #blocLeft ul li:nth-child(1) img, #blocLeft ul li:nth-child(3) img, #blocRight ul li:nth-child(1) img, #blocRight ul li:nth-child(2) img, #blocRight ul li:nth-child(3) img  { height: 135px; }
    #blocLeft ul li:nth-child(2) img { height: 150px; }
    #blocLeft ul li:nth-child(2) img { height: 150px; }
    #blocRight ul li:nth-child(3) img { margin-top: 0; }
    #blocLeft ul li, #blocRight ul li { margin-bottom: 35px}
    
    #mainFooter { 
        margin: 25px 20px;
        display: flex;
        flex-direction: column;
        align-items: space-around;
    }
    #mainFooter h3 { margin-top: 20px;}


}

