/* Import Font Raleway w/ Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* For all elements */
* { 
    box-sizing: border-box;
} 
body {   
    font-family: 'Raleway', Arial, Verdana, sans-serif;
    color: #000000;   
    margin: 0 auto;
    max-width: 1440px;
}
img {
    max-width: 100%;
    height: auto;
}

/* Logo + Subscription link */
#topHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#topHeader img {
    max-width: 100%;
    height: auto;
    padding: 20px;
} 
#topHeader span {
    display: flex;
    align-self:center;
    padding: 35px 20px;
}
#topHeader span a {
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
} 

/* Menu */
nav ul {  
    float: right;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;   
    min-width: 30%;    
    max-width: 50%;        
    right: 10%;
} 
nav ul li {
    padding: 30px;
    width: 50%;
}
nav ul li:hover {
    border-top: 3px solid #0065FC;
}
nav ul li a { 
    text-decoration: none; 
} 
nav ul li a:hover {
    color: #0065FC;
    font-weight: bold;
}
nav ul li:first-child {
    border-top: #0065FC;
}
nav ul li:first-child a {
    color: #0065FC;
    font-weight: bold;
}

/* Main title */
#generalContent h1 {
    font-size: 1.3rem;
    padding: 20px 10px 0 20px;
    font-weight: bold;
}
#generalContent p {
    padding: 10px 20px;
}

/* Search section */
#search { 
    padding: 10px 20px 0 20px; 
}
#icoSearch {
    padding: 15px 20px 0 20px;  
    height: 50px;
    width: 50px;
    font-size: 1.2em;
    border-radius: 15px 0 0 15px;
    background-color: #f2f2f2;
    float: left;
}
#ztext input { 
    font-weight:bold;
    font-size: 1em;
    height: 50px;
    width: 215px;
    border: 1px solid rgba(242, 242, 242, 0.8);
    padding-left: 20px;
    float: left;
}
#btnSearch button{    
    height: 50px;
    width: 120px;
    border-radius: 0 20px 20px 0;
    background-color: #0065FC;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    border: none;
}
#btText { 
    display: block; 
}
#btIco { 
    display: none; 
}

/* Filters section */
#filters { 
    margin-top: 30px; 
}
#filters p {  
    font-size: 1em;  
    font-weight: bold;
    padding: 20px;
    float: left;
    width: 8%;
}
#filters ul {
    list-style-type: none;
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    padding: 10px;
}
#filters ul li {
    padding: 10px 10px 10px 0;
    border: 2px solid #DEEBFF; 
    border-radius: 20px;
    margin: 0 25px 10px 0;
}
#filters ul li:hover { 
    background-color: rgba(0, 101, 252, 0.5);
}
#filters  ul li span {
    font-size: 1em;
    padding: 10px;
} 
#filters ul li span:first-child {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 1em;
    color: #0065FC;
    padding: 10px 16px;
    margin-left: -2px;
}
#filters ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}
#filters ul li a:hover span:first-child { 
    background-color: #0065FC;
    color: #FFFFFF;
}

/* Text "Info" */
#info {
    margin-top: 0;
    padding: 0 0 20px 20px;
}
#info span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 5px 8px;
    color: #0065FC;
    border: 2px solid #f2f2f2;
    text-align: center;
    margin-right: 10px;
}

/* Content section : Accomodation + Activities */
#mainContent { 
    height: max-content; 
}
#topContent {
    width: 100%;         
    height: 100%;   
    margin: 0 20px;
}

/* Global Classes */
.amount {
    font-size: 0.8em;
    color: #000000;    
    padding: 5px 0 5px 20px;
}
.starsOn {
    color: #0065FC;
}
.starsOff {
    color: #DEEBFF;
}

/* Content section : Accomodations */
#leftCol {
    float: left;
    max-width: 63%;
    min-width: 50%;
    margin: 10px 0 50px 0;
    padding-left: 35px;
    border-radius: 20px;
    background-color: #f2f2f2;
}
#leftCol h2 {    
    font-size: 1.1em;
    font-weight: bold;    
    margin: 15px 0;
}
#leftCol ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}
#leftCol ul li {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding-bottom: 10px;
    max-width: 30%;
    min-width: 15%;
    margin: 0 20px 30px 0;
    box-shadow: 0px 1px 5px rgba(128, 128, 128, 0.5);
}
#leftCol ul li img {
    padding: 5px;
    border-radius: 20px 20px 0 0;
    width:100%;
    height: 115px;
    object-fit: cover;
    margin: 0;
}
#leftCol ul li a, #rightCol ul li a, #leftCol p a { 
    text-decoration: none; 
}
#leftCol ul li a .accomName {
    font-size: 1rem;
    font-weight: bold;
    padding-left:20px;
    color: #000000;
    display: block;
    padding-top: 5px;
}
#leftCol ul li a .amount {
    font-size: 1rem;
    color: #000000;    
    display: block;
    padding: 5px 0 0 20px;
}
#leftCol ul li a .stars {
    font-size: 0.9rem;
    color: #000000;  
    display: block;
    padding: 7px 0 0 20px;
}
#leftCol p { 
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 0 20px 20px; 
}
#leftCol p a:visited {
    color: black;
}

/* Content section : Most popular accomodations */
#rightCol {    
    float: left;
    max-width: 32%;
    min-width: 20%;
    margin-top: 10px;
    margin-left: 2%;
    padding: 0 30px;    
    border-radius: 20px;
    background-color: #f2f2f2;
}
#rightCol h2 {    
    font-size: 1.1rem;
    margin: 20px 0;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#rightCol ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
#rightCol ul li {
    width: 100%;
    margin: 0 25px 20px 0;
    background-color: #FFFFFF;
    border-radius: 20px;    
    box-shadow: 0px 1px 5px rgba(128, 128, 128, 0.5);
}
#rightCol ul li img {
    padding: 5px;
    margin-right: 10px;
    border-radius: 20px  0 0 20px;
    width: 45%;
    height: 135px;
    object-fit: cover;
    float: left;
}
#rightCol ul li a .accomName {
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    display: block;
    padding-top: 15px;
}
#rightCol ul li a .amount {
    font-size: 1rem;
    color: #000000;  
    display: block;
    padding-top: 5px;
}
#rightCol ul li a .stars {
    font-size: 0.8em;
    color: #000000; 
    display: block;
    padding-top: 35px;  
}

/* Content section : Activities */
#blocAct { 
    clear: left; 
}
#blocAct h2 {     
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0 20px;
    padding: 20px 0;
}
#contAct {
    clear: left; 
    width: 100%;
    padding: 0 20px;
    columns: 2;
    column-gap: 40px;
}
#blocLeft, #blocRight { 
    width: 100%; 
}
#blocLeft ul, #blocRight ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 420px;
}
#blocLeft ul li, #blocRight ul li { 
    width: 47%; 
    border-radius: 0; 
}
#blocLeft ul li:nth-child(1), #blocRight ul li:nth-child(1) { 
    margin-right: 30px;
}
#blocLeft ul li a, #blocRight ul li a {  
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}
#blocLeft ul li:nth-child(1) a figure, #blocRight ul li:nth-child(1) a figure {
    width: 100%;
    display: block;
}
#blocLeft ul li:nth-child(2) a figure {
    width: 100%;
    height: 186px;
    display: block;
}
#blocLeft ul li:nth-child(3) a figure {
    width: 100%;
    height: 146px;
    display: block;
    margin-top: 79px;
}
#blocRight ul li:nth-child(2) a figure {
    width: 100%;
    height: 176px;
    display: block;
}
#blocRight ul li:nth-child(3) a figure {
    width: 100%;
    height: 185px;
    display: block;
    margin-top: 48px;
}
#blocLeft ul li a figure img, #blocRight ul li a figure img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    object-fit: cover;        
    box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.5);
}
#blocLeft ul li:nth-child(1) a figure img, #blocRight ul li:nth-child(1) a figure img {       
    height: 375px; 
}
#blocLeft ul li:nth-child(2) a figure img {
    height: 150px;
}
#blocLeft ul li:nth-child(3) a figure img {
   height: 110px;
}
#blocRight ul li:nth-child(2) a figure img {
    height: 140px;
}
#blocRight ul li:nth-child(3) a figure img {
    height: 152px;
}
#blocLeft ul li figure figcaption, #blocRight ul li figure figcaption {
    margin-top: -2px;
    width: 100%;
    padding: 10px 0 10px 20px;
    background-color: #FFFFFF;    
    border-radius: 0 0 20px 20px;       
    box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.5);
}


/* Footer section */
#mainFooter {
    width: 100%;
    margin: 60px 0 30px 0;
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #f2f2f2;
}
#mainFooter section { 
    width: 100%; 
}
#mainFooter section h3  {
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 10px;
}
#mainFooter section span {
    display: block;
    padding: 5px 0 5px 0;
}
#mainFooter section span a {
    text-decoration: none;
    color: #000000; 
}

/* DESKTOP Mozilla */
@media (min-width: 1025px) {
    @supports (-moz-appearance:none) {
        #rightCol{
            width: 35%;
            margin-left: 35px;
        }
        #leftCol ul li {
            width: 40%;
            min-width: 15%;
        } 
    }   
}

/* TABLETS */
@media (min-width: 667px) and (max-width: 1024px) {  
    nav ul {          
        min-width: 45%;
        max-width: 70%;
        right: 15%; 
    } 
    #topHeader,  #blocAct { 
        width: 100%;
        margin: 0 20px 0 0;       
    } 
    #filters {
        width: 100%;
    }
    #filters ul {
        margin: 0 20px 0 10px;
        padding-top: 0;
        display: flex;
        flex-wrap: wrap;
    }
    #filters p {
        width: 100%;
    }
    #topContent {
        width:100%;
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }
    #rightCol { 
        margin: 20px 0;
        max-width: 96%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
    }
    #leftCol { 
        max-width: 96%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        padding: 0 20px;
    }
    #leftCol ul {
        max-width: 100%;
    }
    #leftCol ul li {
        width: 29%;
        margin-right: 20px;
    } 
    #leftCol ul li:nth-child(3), #leftCol ul li:nth-child(6) { 
        margin-right: 0; 
    }
    #rightCol h2 {
        width: 100%;
    }
    #rightCol ul {
        margin: 0;
        display: flex;
        flex-direction: row;  
        width: 100%;
    }
    #rightCol ul li, #leftCol ul li {
        margin: 0 35px 20px 0;  
    }  
    #rightCol ul li:nth-child(3) { 
        margin-right: 0; 
    }
    #rightCol ul li img { 
        width: 100%;        
        border-radius: 20px 20px 0 0;
        padding-bottom: 10px;
    }
    #rightCol ul li a .accomName { 
        padding: 0 10px;
    }
    #rightCol ul li a .amount { 
        padding-left: 10px;
    }
    #rightCol ul li a .stars { 
        padding: 10px 0 10px 10px; 
    } 
    #blocAct {
        margin-top: 25px;
    }
    #contAct { 
        column-count: 1;  
    }   
    #blocLeft {
        margin-bottom: 20px;
    }
    #blocLeft ul li a figure figcaption, #blocRight ul li a figure figcaption { 
        font-size: 0.95rem;
    }  
    #blocRight ul li:nth-child(1) img { 
        height: 378px;
    }      
    #blocRight ul li:nth-child(3) img { 
        height: 150px; 
    }
}


/* SMARTPHONE */
@media (min-width: 375px) and (max-width: 667px) {
    #topHeader span {
        padding-right: 20px;
    }
    nav ul {
        position: absolute;
        left: 0;
        top: 80px;          
        min-width: 100%;    
        max-width: 100%; 
    } 
    nav ul li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    nav ul li:hover {
        border-bottom: 3px solid #0065FC;
        font-weight: bold;
        color: #0065FC;
    } 

    nav ul li:first-child {
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
        font-weight: bold;
    }  
    nav ul li:first-child a {
        color: #0065FC;
        font-weight: bold;
    }
    #generalContent {        
        margin: 10px 20px;
    }
    #generalContent p {
        margin: 0;
        padding: 10px 0;
    }
    #generalContent h1 {
        font-size: 1.3em;
        padding: 50px 10px 0 0;
        font-weight: bold;   
    } 
    #search {
        margin: 0;
        padding: 0;      
    }
    #ztext input { 
        width: 235px;     
    }
    #btText { 
        display: none; 
    }
    #btIco { 
        display: block; 
    }
    #btnSearch button{    
        height: 50px;
        width: 50px;
        border-radius: 10px;
    }
    #filters ul {
        width: 100%;       
        padding: 5px 0;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
    } 
    #filters ul li { 
        margin: 0 12px 10px 0; 
    }    
    #filters ul li span {
        font-size: 0.9rem;
    }
    #info span {
        float: left;
        margin-right: 20px;
    }    
    #topContent {
        display: flex;
        flex-direction: column-reverse;
    }
    #rightCol { 
        margin: 0 30px 20px 0;
        padding: 0 10px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }    
    #rightCol h2, #leftCol h2 {
        padding: 10px;
    }
    #rightCol ul, #leftCol ul {
        margin: 0;  
    }
    #rightCol ul li{
        width: 100%;
        padding: 0 10px 0 0;
    }
    #rightCol ul li img { 
        width: 45%;
        height: 133px;
    }
    #leftCol {         
        margin: 0 30px 20px 0;
        padding: 10px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }  
    #leftCol ul li {
        max-width: 100%;
        margin-right: 0;
    }
    #leftCol ul li a .stars {
        padding-bottom: 10px;
    }
    #leftCol ul li img {
        width: 100%;
    }
    #contAct {
       columns: 1;
    }    
    #blocLeft, #blocRight { 
        margin-bottom: 230px;
    }
    #blocLeft ul, #blocRight ul {
        display: flex;
        flex-direction: row;
    }      
    #blocLeft ul li, #blocRight ul li { 
        width: 100%; 
    }
    #blocLeft ul li:nth-child(1), #blocRight ul li:nth-child(1) { 
        margin-right: 0;
    } 
    #blocLeft ul li:nth-child(1) a figure img, #blocLeft ul li:nth-child(3) a figure img, #blocRight ul li:nth-child(1) a figure img, #blocRight ul li:nth-child(2) a figure img, #blocRight ul li:nth-child(3) a figure img  { 
        height: 135px; 
    }
    #blocLeft ul li:nth-child(2) a figure img { 
        height: 150px; 
    }
    #blocLeft ul li:nth-child(3) a figure { 
        margin-top: 0;
    }
    #blocRight ul li:nth-child(3) a figure { 
        margin-top: 0; 
    }
    #blocLeft ul li, #blocRight ul li { 
        margin-bottom: 35px;
    } 
    #mainFooter { 
        /*margin: 25px 20px;*/
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #mainFooter h3 { 
        margin-top: 20px;
    }

    @supports (-moz-appearance:none) {       
        #rightCol, #leftCol { 
            padding: 0 10px;
            width: 90%;
        }           
        #rightCol ul li, #leftCol ul li{
            width: 100%;
        }
    }   
}
